
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}
<!-- add breadcrumb -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 14: Digital Trade</span>
      </h1>


            <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Information</caption>
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last update</th>
                <td class="govuk-table__cell">31 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Current status</th>
                <td class="govuk-table__cell">Live</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Upcoming</th>
                <td class="govuk-table__cell">New policy on 1 May 2022</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Source</th>
                <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Access</th>
                <td class="govuk-table__cell">See who has access to this page</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">History</th>
                <td class="govuk-table__cell">Check previous changes</td>
              </tr>
            </tbody>
          </table>


          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Articles</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Article</th>
                <th scope="col" class="govuk-table__header">Last update</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.1 Defintions</td>
                <td class="govuk-table__cell">28 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.2: Scope and General Provisions</td>
                <td class="govuk-table__cell">26 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.3: Customs Duties</td>
                <td class="govuk-table__cell">31 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.4: Domestic Electronic Transactions Framework</td>
                <td class="govuk-table__cell">31 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.5: Conclusion of Contracts by Electronic Means</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.6: Electronic Authentication and Electronic Trust Services</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="australia-digitaltrade-identities.html">14.7: Digital Identities</a></td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.8: Paperless Trading</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.9: Electronic Invoicing</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.10: Cross-Border Transfer of Information by Electronic Means</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.11: Location of Computing Facilities</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.12: Personal Information Protection</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.13: Open Government Data</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.14: Data Innovation</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.15: Open Internet Access</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.16: Online Consumer Protection</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.17: Unsolicited Commercial Electronic Messages</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.18: Source Code</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.19: Commercial Information and Communication Technology Products that Use Cryptography</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.20: Cybersecurity</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14.21: Cooperation</td>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
            </tbody>
          </table>



  </div>

{% endblock %}
