
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-main.html">Australia FTA</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-digitaltrade.html">Chapter 14: Digital Trade</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-digitaltrade-identities.html">Chapter 14.7: Digital Identities</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">History</a>
    </li>


  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 14: Digital Trade - version history </span>
      </h1>

<p>We show up to 6 years of policy changes.</p>

            <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">2022</caption>
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date</th>
                <td scope="row" class="govuk-table__header">Email address</td>
                <td scope="row" class="govuk-table__header">Action</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">14 February, 16:13</td>
                <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
                <td class="govuk-table__cell">Current version</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">5 January, 10:37</td>
                <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
                <td class="govuk-table__cell"><a href="australia-digitaltrade-identities-previous.html">View</a></td>
              </tr>
            </tbody>
          </table>


          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">2021</caption>
          <thead class="govuk-table__head">
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date</th>
              <td scope="row" class="govuk-table__header">Email address</td>
              <td scope="row" class="govuk-table__header">Action</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14 November, 17:50</td>
              <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
              <td class="govuk-table__cell">View</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">30 October, 9:00</td>
              <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
              <td class="govuk-table__cell">View</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">8 July, 12:48</td>
              <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
              <td class="govuk-table__cell">Page created</td>
            </tr>
          </tbody>
        </table>



  </div>

{% endblock %}
