
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-main.html">Australia FTA</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-digitaltrade.html">Chapter 14: Digital Trade</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-digitaltrade-identities.html">Chapter 14.7: Digital Identities</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-digitaltrade-identities-versions.html">History</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">14 February 2022</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 14: Digital Trade</span>
      </h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning.</span>
          You are viewing an old version of this Article. Return to the history page to access the current version.
        </strong>
      </div>

      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Information</caption>
      <thead class="govuk-table__head">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version date</th>
          <td class="govuk-table__cell">14 February, 16:13</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Source</th>
          <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">History</th>
          <td class="govuk-table__cell"><a href="australia-digitaltrade-identities-history.html">Check other versions</a></td>
        </tr>
      </tbody>
    </table>

  <h2 class="govuk-heading-l">Article 14.7: Digital Identities</h2>
          <p>
            1. Recognising that cooperation between the Parties on digital identities will increase regional and global connectivity, and recognising that each Party may take different legal and technical approaches to digital identities, the Parties shall pursue the development of mechanisms to promote compatibility between their respective digital identity regimes.</p>

  <p>2. To this end, the Parties shall endeavour to facilitate initiatives to promote such compatibility, which may include:</p>

  <p>(a) developing appropriate frameworks and common standards to foster technical interoperability between each Party’s implementation of digital identities;</p>

  <p>(b) supporting the development of international frameworks on digital identity regimes;</p>

  <p>(c) implementing use cases for the mutual recognition of digital identities;</p>

  </div>

{% endblock %}
