
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-main.html">Australia FTA</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Chapter 2: Trade in Goods</a>
    </li>

  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 2: Trade in Goods</span>

      </h1>

      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Information</caption>
      <thead class="govuk-table__head">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Last update</th>
          <td class="govuk-table__cell">31 March 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Current status</th>
          <td class="govuk-table__cell">Embargoed</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Upcoming</th>
          <td class="govuk-table__cell">Section XII to be confirmed in July 2022</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Source</th>
          <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Access</th>
          <td class="govuk-table__cell">See who has access to this page</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">History</th>
          <td class="govuk-table__cell">Check previous changes</td>
        </tr>
      </tbody>
    </table>


      <h2 class="govuk-heading-l">
        Details
      </h2>
    <p>  The chapter will provide for the liberalisation of trade of originating goods between the UK and Australia. It will remove tariffs in accordance with each party’s tariff schedule.<p>

<p> The chapter will also help to facilitate trade in goods between the UK and Australia. This will be done by reducing non-tariff barriers, increasing transparency and cooperation, and supporting the World Trade Organization (WTO) rules-based system.</p>

<p> Australia has agreed to remove tariffs on all UK goods exports with most exports being tariff-free from entry into force of the agreement. A small number of tariffs on UK exports of cheese and steel will move towards complete liberalisation over a 5-year period.</p>

<p> The UK has agreed to liberalise tariffs on most Australian exports. We have protected sensitive UK industries through measures including staged liberalisation, tariff rate quotas, and product specific safeguards for beef and sheepmeat. A general bilateral safeguard mechanism will provide further protections if they face serious injury from increased imports as a direct consequence of the free trade agreement (FTA). This applies to all products.</p>

<button class="govuk-button govuk-button" data-module="govuk-button">
  Edit the Details section
</button>

  <h2 class="govuk-heading-l">Schedule of Tariff Commitment of the United Kingdom</h2>

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Section</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Last update</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <!--- tags: https://design-system.service.gov.uk/components/tag/ --->

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="australia-goods-section1.html">Section I - Live animals; animal products</a></td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Ongoing</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section II - Vegetable products </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section III - Animal or vegetable fats and oils and their cleavage products; prepared edible fats; animal or vegetable waxes </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not started</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section IV - Prepared foodstuffs; beverages, spirits and vinegar; tobacco and manufactured tobacco substitutes </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section V - Mineral products </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section VI - Products of the chemical or allied industries </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section VII - Plastics and articles thereof; rubber and articles thereof </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section VIII - Raw hides and skins, leather, furskins and articles thereof; saddlery and harness; travel goods, handbags and similar containers; articles of animal gut (other than silkworm gut) </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section IX - Wood and articles of wood; wood charcoal; cork and articles of cork; manufactures of straw, of esparto or of other plaiting materials; basket-ware and wickerwork </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section X - Pulp of wood or of other fibrous cellulosic material; recovered (waste and scrap) paper or paperboard; paper and paperboard and articles thereof </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XI - Textiles and textile articles </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> Section XII - Footwear, headgear, umbrellas, sun umbrellas, walking-sticks, seat-sticks, whips, riding-crops and parts thereof; prepared feathers and articles made therewith; artificial flowers; articles of human hair </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not started</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XIII - Articles of stone, plaster, cement, asbestos, mica or similar materials; ceramic products; glass and glassware</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XIV - Natural or cultured pearls, precious or semi-precious stones, precious metals, metals clad with precious metal and articles thereof; imitation jewellery; coins </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XV - Base metals and articles of base metal </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XVI - Machinery and mechanical appliances; electrical equipment; parts thereof, sound recorders and reproducers, television image and sound recorders and reproducers, and parts and accessories of such articles </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XVII - Vehicles, aircraft, vessels and associated transport equipment </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XVIII - Optical, photographic, cinematographic, measuring, checking, precision, medical or surgical instruments and apparatus; clocks and watches; musical instruments; parts and accessories thereof </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XIX - Arms and ammunition; parts and accessories thereof </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not started</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XX - Miscellaneous manufactured articles </td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Section XXI - Works of art, collectors' pieces and antiques</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
      <td class="govuk-table__cell">2 March 2022</td>
    </tr>

  </tbody>
</table>


  <!--- accordion
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Chapter 01 - Live animals
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>


          <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Live horses, asses, mules and hinnies</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Commodity Code</th>
      <th scope="col" class="govuk-table__header">Indicative Description</th>
      <th scope="col" class="govuk-table__header">Base Rate</th>
      <th scope="col" class="govuk-table__header">Tariff Staging Category</th>
      <th scope="col" class="govuk-table__header">Notes</th>
    </tr>

  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.21.00 </td>
      <td class="govuk-table__cell">Pure-bred breeding horses</td>
      <td class="govuk-table__cell">0.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.29.10 </td>
      <td class="govuk-table__cell">Horses for slaughter </td>
      <td class="govuk-table__cell">0.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.29.90 </td>
      <td class="govuk-table__cell">Live horses (excl. for slaughter, pure-bred for breeding)</td>
      <td class="govuk-table__cell">10.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.30.00</td>
      <td class="govuk-table__cell">Live asses</td>
      <td class="govuk-table__cell">6.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.90.00 </td>
      <td class="govuk-table__cell">Live mules and hinnies </td>
      <td class="govuk-table__cell">10.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
  </tbody>
</table>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Live bovine animals</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Commodity Code</th>
<th scope="col" class="govuk-table__header">Indicative Description</th>
<th scope="col" class="govuk-table__header">Base Rate</th>
<th scope="col" class="govuk-table__header">Tariff Staging Category</th>
<th scope="col" class="govuk-table__header">Notes</th>
</tr>

</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.10 </td>
<td class="govuk-table__cell">Pure-bred breeding heifers "female bovines that have never calved" </td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.30 </td>
<td class="govuk-table__cell">Pure-bred breeding cows (excl. heifers)</td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.90 </td>
<td class="govuk-table__cell">Pure-bred cattle for breeding (excl. heifers and cows)</td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.29.05</td>
<td class="govuk-table__cell">Live cattle of the sub-genus Bibos or Poephagus (excl. pure-bred for breeding) </td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.29.10</td>
<td class="govuk-table__cell">Live cattle of a weight <= 80 kg (excl. pure-bred for breeding) </td>
<td class="govuk-table__cell">10.00% + 77.00
GBP/100kg</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
</tbody>
</table>

        </p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Chapter 03 - Fish and crustaceans, molluscs and other aquatic invertebrates
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'>This is the content for Writing well for specialists.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Chapter 38 - Miscellaneous chemical products
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class='govuk-body'>This is the content for Know your audience.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Chapter 73 - Articles of iron or steel
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
        <p class='govuk-body'>This is the content for How people read.</p>
      </div>
    </div>
  </div>




    --->
  </div>

{% endblock %}
