
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-main.html">Australia FTA</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="australia-goods.html">Chapter 2: Trade in Goods</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section 1: Live animals; animal products</a>
    </li>
  </ol>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 2: Trade in Goods</span>

      </h1>

      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Information</caption>
      <thead class="govuk-table__head">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Last update</th>
          <td class="govuk-table__cell">31 March 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Current status</th>
          <td class="govuk-table__cell">Embargoed</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Upcoming</th>
          <td class="govuk-table__cell">Section XII to be confirmed in July 2022</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Source</th>
          <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Access</th>
          <td class="govuk-table__cell">See who has access to this page</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">History</th>
          <td class="govuk-table__cell">Check previous changes</td>
        </tr>
      </tbody>
    </table>


      <h2 class="govuk-heading-l">
        Section I: Live animals; animal products
      </h2>


          <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Live horses, asses, mules and hinnies</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Commodity Code</th>
      <th scope="col" class="govuk-table__header">Indicative Description</th>
      <th scope="col" class="govuk-table__header">Base Rate</th>
      <th scope="col" class="govuk-table__header">Tariff Staging Category</th>
      <th scope="col" class="govuk-table__header">Notes</th>
    </tr>

  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.21.00 </td>
      <td class="govuk-table__cell">Pure-bred breeding horses</td>
      <td class="govuk-table__cell">0.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.29.10 </td>
      <td class="govuk-table__cell">Horses for slaughter </td>
      <td class="govuk-table__cell">0.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.29.90 </td>
      <td class="govuk-table__cell">Live horses (excl. for slaughter, pure-bred for breeding)</td>
      <td class="govuk-table__cell">10.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.30.00</td>
      <td class="govuk-table__cell">Live asses</td>
      <td class="govuk-table__cell">6.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">0101.90.00 </td>
      <td class="govuk-table__cell">Live mules and hinnies </td>
      <td class="govuk-table__cell">10.00%</td>
      <td class="govuk-table__cell">EIF</td>
      <td class="govuk-table__cell">-</td>
    </tr>
  </tbody>
</table>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Live bovine animals</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Commodity Code</th>
<th scope="col" class="govuk-table__header">Indicative Description</th>
<th scope="col" class="govuk-table__header">Base Rate</th>
<th scope="col" class="govuk-table__header">Tariff Staging Category</th>
<th scope="col" class="govuk-table__header">Notes</th>
</tr>

</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.10 </td>
<td class="govuk-table__cell">Pure-bred breeding heifers "female bovines that have never calved" </td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.30 </td>
<td class="govuk-table__cell">Pure-bred breeding cows (excl. heifers)</td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>

<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.21.90 </td>
<td class="govuk-table__cell">Pure-bred cattle for breeding (excl. heifers and cows)</td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.29.05</td>
<td class="govuk-table__cell">Live cattle of the sub-genus Bibos or Poephagus (excl. pure-bred for breeding) </td>
<td class="govuk-table__cell">0.00%</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">0102.29.10</td>
<td class="govuk-table__cell">Live cattle of a weight <= 80 kg (excl. pure-bred for breeding) </td>
<td class="govuk-table__cell">10.00% + 77.00
GBP/100kg</td>
<td class="govuk-table__cell">EIF</td>
<td class="govuk-table__cell">-</td>
</tr>
</tbody>
</table>




{% endblock %}
