
{% extends "layout.html" %}

{% block pageTitle %}
  Create and edit Free Trade Agreements
{% endblock %}

{% block content %}
<!-- add breadcrumb -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Australia FTA
        <span class="govuk-caption-xl">Chapter 14: Digital Trade</span>
      </h1>


            <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Information</caption>
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last update</th>
                <td class="govuk-table__cell">24 March 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Current status</th>
                <td class="govuk-table__cell">Live</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Upcoming</th>
                <td class="govuk-table__cell">no updates expected</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Source</th>
                <td class="govuk-table__cell">firstname.lastname@trade.gov.uk</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Access</th>
                <td class="govuk-table__cell">See who has access to this page</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">History</th>
                <td class="govuk-table__cell">Check previous changes</td>
              </tr>
            </tbody>
          </table>

  <h2 class="govuk-heading-l">Article 14.7: Digital Identities</h2>
          <p>
            1. Recognising that cooperation between the Parties on digital identities will increase regional and global connectivity, and recognising that each Party may take different legal and technical approaches to digital identities, the Parties shall pursue the development of mechanisms to promote compatibility between their respective digital identity regimes.</p>

  <p>2. To this end, the Parties shall endeavour to facilitate initiatives to promote such compatibility, which may include:</p>

  <p>(a) developing appropriate frameworks and common standards to foster technical interoperability between each Party’s implementation of digital identities;</p>

  <p>(b) supporting the development of international frameworks on digital identity regimes;</p>

  <p>(c) implementing use cases for the mutual recognition of digital identities; and</p>

  <p>(d) exchanging knowledge and expertise on best practices relating to digital identity policies and regulations, technical implementation, security standards, and the promotion of the use of digital identities.</p>


  <a href="australia-digitaltrade-identities-edit.html" class="govuk-button" data-module="govuk-button">
    Edit this Article
  </a>

  </div>

{% endblock %}
